node_modules/
dist
coverage

*.log
*.tgz
*.tsbuildinfo

.env
.env.*

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# IntelliJ IDEA
.idea/

# Docusaurus
website/node_modules
website/.docusaurus
website/build

# Claude Code
**/.claude/settings.local.json
